* {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* body of page characteristics */
.body {
    margin: 0px;
    padding: 0px;

}


/* navbar fixed at top of page */
.navbar {
    height: 50px;
    background-color: rgb(252, 166, 6);
    overflow: hidden;
    position: fixed;
    width: 100%;

}

/* links inside navbar */
.links {
    display: inline-block;
    float: right;
    text-align: center;
    padding: 14px 16px;
   
}
/* tmy lame listed at top of page */
.title {
    color: rgb(212, 240, 53);
    text-align: center;
    font-size: 50px;
    padding: 20px

}

/* to be a beautiful image of my face */
.image {
    text-align: center;

}

/* orange border around image */
img {
    border: 20px solid rgb(252, 166, 6);
    
  }
  

/* large block with contact input inside it */
.contact-block {
    background-color: rgb(247, 194, 97);
    padding: 50px;
    margin: 0px;

}

/* text "Contact Me" */
.contact-me {
    color: rgb(212, 240, 53);
    text-align: center;
    font-size: 35px;
    padding: 0%;
}

/* form to input contact info w/ button */
.input-form {
    text-align: center;

}


/* footer with email listed inside*/
.footer {
    height: 50px;
    background-color: rgb(252, 166, 6);
    text-align: center; 
    display: inline-block; 
    width: 100%;
}
